body {
    background-color: #bfd6ec !important;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.5rem;
}


label {
    font-size: 15px;
    color: #6c757d;
    font-weight: bold;
}

input {
    height: 43px;
    margin-top: 7px;
    background-color: #bfd6ec;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: white !important;
}

button.btn.btn-primary {
    display: block;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    background-color: #ee6a76;
    border-color: #ee6a76;
}

.card {
    border-radius: 15px !important;
}

::placeholder {
    color: #fff;
}

.my-3 {
    margin-top: 2rem !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem 2rem 1rem;
}